########################################
# Python
########################################
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.sqlite

# Virtual environments
venv/
.env/
.env*/


########################################
# Project Runtime Data
########################################
data/
logs/
prometheus-data/
*.db
*.csv


########################################
# Containers / Build / Cache
########################################
*.log
*.tar
*.tar.gz
*.tgz
.cache/
dist/
build/
*.pid


########################################
# Monitoring / Tools
########################################
monitoring/prometheus-bin/
monitoring/prometheus-*.tar.gz
oc.tar.gz


########################################
# IDE / Development Environment
########################################
.vscode/
.devcontainer/
.DS_Store