version: "3.9"

services:
  exporter:
    build: .
    container_name: dtms-exporter
    command: ["python", "-m", "exporter.exporter"]
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data

  anomaly:
    build: .
    container_name: dtms-anomaly-exporter
    command: ["python", "-m", "anomaly.anomaly_exporter"]
    depends_on:
      - exporter
    ports:
      - "8001:8001"
    volumes:
      - ./data:/app/data

  prometheus:
    image: prom/prometheus:latest
    container_name: dtms-prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.listen-address=0.0.0.0:9090"
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana-oss:latest
    container_name: dtms-grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"