apiVersion: apps/v1
kind: Deployment
metadata:
  name: dtms-prometheus
  namespace: iamakamen-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dtms-prometheus
  template:
    metadata:
      labels:
        app: dtms-prometheus
    spec:
      containers:
        - name: prometheus
          image: prom/prometheus:latest
          args:
            - "--config.file=/etc/prometheus/prometheus.yml"
            - "--storage.tsdb.path=/prometheus"
          ports:
            - containerPort: 9090
          volumeMounts:
            - name: config
              mountPath: /etc/prometheus/prometheus.yml
              subPath: prometheus.yml
            - name: prometheus-storage
              mountPath: /prometheus
      volumes:
        - name: config
          configMap:
            name: dtms-prometheus-config
            items:
              - key: prometheus.yml
                path: prometheus.yml
        - name: prometheus-storage
          emptyDir:
            sizeLimit: 500Mi